body{
    background-color: black;
    color: crimson;
    text-align: center;
}


h1{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}


img{
    width: 75vw;
    height: auto;
}


.ul{
    list-style: none;
    padding-left: 0;


  
}


.ul>li>a {
    text-decoration: none;
    color: chocolate;
}